USE [master]
GO
/****** Object:  Database [BookVideoTutorialDB]    Script Date: 6/18/2021 9:27:47 AM ******/
CREATE DATABASE [BookVideoTutorialDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookVideoTutorialDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BookVideoTutorialDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookVideoTutorialDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BookVideoTutorialDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookVideoTutorialDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookVideoTutorialDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[Pdf] [nvarchar](max) NULL,
	[AuthorName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[RegistrationNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Registrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Semesters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Videos]    Script Date: 6/18/2021 9:27:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VideoName] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [Email], [Password]) VALUES (1, N'Tamanna', N'tamanna@gmail.com', N'12345')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [BookName], [DepartmentId], [SemesterId], [Pdf], [AuthorName]) VALUES (1, N'C Programming', 1, 1, N'Bookpdf/9a086698-e510-4553-a854-0b3d166b4b95.pdf', N'Bala Guru swami')
INSERT [dbo].[Books] ([Id], [BookName], [DepartmentId], [SemesterId], [Pdf], [AuthorName]) VALUES (2, N'Computer Fundamental', 1, 1, N'Bookpdf/9c5cfb9c-c89b-4869-9fac-3e57d3516d7f.pdf', NULL)
INSERT [dbo].[Books] ([Id], [BookName], [DepartmentId], [SemesterId], [Pdf], [AuthorName]) VALUES (3, N'Computer Programming with C++', 1, 2, N'Bookpdf/70284cdb-d7ca-4227-bafc-f3d5fb97fbc7.pdf', NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [DepartmentName]) VALUES (1, N'Computer Science & Engineering(CSE)')
INSERT [dbo].[Departments] ([Id], [DepartmentName]) VALUES (2, N'Bachalor of Business Administrator(BBA)')
INSERT [dbo].[Departments] ([Id], [DepartmentName]) VALUES (3, N'Bachalor of Law Degree(LLB)')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([Id], [StudentName], [DepartmentId], [SemesterId], [RegistrationNo], [Email], [Password], [Image], [Mobile]) VALUES (2, N'Fatema tuj johora ', 1, 5, N'190232156', N'itsyouna9046@gmail.com', N'12345', N'picture/6ba4c870-2ef6-4fb3-a848-5f020518bc80.jpeg', N'01628671585')
INSERT [dbo].[Registrations] ([Id], [StudentName], [DepartmentId], [SemesterId], [RegistrationNo], [Email], [Password], [Image], [Mobile]) VALUES (3, N'Rahim mia', 1, 4, N'17022865', N'rahim@gmail.com', N'12345', N'picture/c122ecdf-9d7f-4f7b-9c99-7a2c905b6bff.jpg', N'01814325325')
SET IDENTITY_INSERT [dbo].[Registrations] OFF
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([Id], [SemesterName]) VALUES (1, N'1st')
INSERT [dbo].[Semesters] ([Id], [SemesterName]) VALUES (2, N'2nd')
INSERT [dbo].[Semesters] ([Id], [SemesterName]) VALUES (3, N'3rd')
SET IDENTITY_INSERT [dbo].[Semesters] OFF
SET IDENTITY_INSERT [dbo].[Videos] ON 

INSERT [dbo].[Videos] ([Id], [VideoName], [DepartmentId], [SemesterId], [Link]) VALUES (7, N'Database Management Systems', 1, 5, N'https://drive.google.com/file/d/1Qqa38DZaVa3ZWcPp0PZgFEHGwnskOmyR/view?usp=sharing')
INSERT [dbo].[Videos] ([Id], [VideoName], [DepartmentId], [SemesterId], [Link]) VALUES (8, N'Data Communication ', 1, 5, N'https://drive.google.com/file/d/1YqAuB9vwvxPwLLx7I1gYqJLLrb_OtcxB/view?usp=sharing')
INSERT [dbo].[Videos] ([Id], [VideoName], [DepartmentId], [SemesterId], [Link]) VALUES (9, N'Operating Systems', 1, 5, N'https://drive.google.com/file/d/1Qqa38DZaVa3ZWcPp0PZgFEHGwnskOmyR/view?usp=sharing')
SET IDENTITY_INSERT [dbo].[Videos] OFF
USE [master]
GO
